.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #446e9b;
    --bs-btn-border-color: #446e9b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3a5e84;
    --bs-btn-hover-border-color: #36587c;
    --bs-btn-focus-shadow-rgb: 96, 132, 170;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #36587c;
    --bs-btn-active-border-color: #335374;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #446e9b;
    --bs-btn-disabled-border-color: #446e9b;
}

.btn-outline-primary {
    --bs-btn-color: #446e9b;
    --bs-btn-border-color: #446e9b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #446e9b;
    --bs-btn-hover-border-color: #446e9b;
    --bs-btn-focus-shadow-rgb: 68, 110, 155;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #446e9b;
    --bs-btn-active-border-color: #446e9b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #446e9b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #446e9b;
    --bs-gradient: none;
}

.btn-primary {
    background-image: linear-gradient(#528EAF, #446e9b 50%, #3f658f);
    filter: none;
    border: 1px solid #36587c;
}

.bg-primary {
    background-image: linear-gradient(#528EAF, #446e9b 50%, #3f658f);
    filter: none;
    border: 1px solid #36587c;
}

.img-fluid {
    height: 80px;
}

.nav-link {
    color: #000f;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

p a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #446e9b;
}

.a-link {
    text-decoration: none;
    color: #d8dadf;
}

.bg-color {
    background-color: #272a33;
}

.footer-menu li {
    margin: 15px 0 15px 0;
}

.card-img-top {
    width: 160px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

.sub-title {
    font-size: 16px;
    padding-top: 15px;
    color: #528EAF;
}

/*.container{
    padding:20px 0 20px 0;
}*/
